.page-related-header {
    margin-bottom: 15px;

    h2 {
        font-size: 25px;
    }
}

.cms-wrapper {
    border-radius: var(--myadmin-border-radius);
    background: var(--myadmin-secondary-bg);
    padding: 20px;
    margin-bottom: 20px;
}

.cms-header {
    margin-bottom: 10px;
}

.cms-wrapper table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
        text-align: left;
        text-transform: capitalize;
    }

    th:last-child,
    td:last-child {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: center;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid var(--myadmin-border-color);
        overflow: hidden;
        word-break: break-word;
        vertical-align: top;
    }

    td ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

.cms-wrapper .edit-btn,
.cms-wrapper .cancel-btn,
.cms-wrapper .save-btn,
.cms-wrapper .delete-btn {
    padding: 5px 10px;
    border-radius: var(--myadmin-border-radius);
    color: var(--myadmin-white);
    cursor: pointer;
    border: none;
    background: var(--myadmin-indigo);
}

.cms-wrapper .delete-btn,
.cms-wrapper .cancel-btn {
    background: var(--myadmin-red);
}

.cms-wrapper .save-btn {
    background: var(--myadmin-green);
}

.cms-wrapper .edit-input,
.cms-wrapper .edit-textarea {
    width: 100%;
    box-sizing: border-box;
    background: var(--myadmin-secondary-bg);
    border: 1px solid var(--myadmin-blue);
    color: inherit;
    padding: 8px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
}

.cms-wrapper .edit-textarea {
    min-height: 80px;
    max-height: 200px;
    resize: none;
    overflow: auto;
}

.cms-wrapper .edit-input:focus,
.cms-wrapper .edit-textarea:focus {
    outline: none;
    border-color: var(--myadmin-focus-ring-color);
}

.cms-wrapper .view-mode {
    display: block;
    text-align: left !important;
}

.cms-wrapper .edit-mode {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.cms-wrapper tr.editing .view-mode {
    display: none;
}

.cms-wrapper tr.editing .edit-mode {
    display: flex;
}

.addSkillFormWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out !important;
    transform: scale(1);
    max-height: 100vh;
    
    form {
        width: 500px;
    }
}

.addSkillFormWrapper.collapsed {
    max-height: 0;
    transform: scale(0);
    overflow: hidden;
}

.addSkillFormToggle.cancel {
    background: var(--myadmin-red);
}

/* skills */
.skills-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    position: relative;
}

.skill-card {
    position: relative;
    background: var(--);
    border: 1px solid var(--myadmin-border-color);
    border-radius: 24px;
    padding: 1rem;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.skill-icon {
    width: 70px;
    height: 70px;
    border: 1px solid var(--myadmin-border-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
    background: var(--myadmin-menu-bg);
    color: var(--myadmin-menu-item-color);
}

.skill-icon img {
    width: 60%;
}

.skill-card:hover .icon-glow {
    opacity: 0.6;
}

.skill-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.skill-description {
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}